{% extends './base.html' %}
{% block maincontent %}
{% load static %}

    <div class="sidebar">
      <h3 class="normaldevice">
        <i class="bi bi-body-text"></i>H<small class="text-body-secondary">orizon Press</small>
      </h3>

      <h6 class="smalldevice">
        <i class="bi bi-body-text"></i>H<small class="text-body-secondary">orizon Press</small>
      </h6>
      <hr>

      <div class="list-group normaldevice">
        {% if categories %}
        {% for category in categories %}
        <a href="{% url 'core:Dashboard'%}?category={{category.name}}" class="list-group-item list-group-item-action {% if category_selected == category.name %}active{% endif %}" aria-current="true">
          <i class="bi bi-caret-right-fill"></i> {{category.name}}
        </a>
        {% endfor %}
        {% endif %}

      </div>


      <div class="list-group smalldevice">
        {% if categories %}
        {% for category in categories %}

        <a href="{% url 'core:Dashboard'%}?category={{category.name}}" class="list-group-item list-group-item-action {% if category_selected == category.name %}active{% endif %}" aria-current="true">
          <i class="bi bi-caret-right-fill"></i>
          <p style="font-size: x-small;">{{category.name}}</p>
        </a>
        {% endfor %}
        {% endif %}


      </div>


    </div>

    <div class="content">
      <div class="scrollable-div">
        <button onclick="download()" style="float: right;color: white;" type="button" class="btn btn-primary"><i class="bi bi-arrow-down-circle"></i> Download {{category_selected.title}}</button>
        <h3><i class="bi bi-blockquote-left"></i>Sentences</h3>

        <hr>
        <div class="row">  
          {% if sentences %}
          {% for sentence in sentences %}
          <div class="eachcoloumn col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 ">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <p class="card-text">{{sentence.text.title}}</p>                
                <h3>
                  {% if sentence.sentiment %}
                  <span class="badge {{sentence.colour_class}}">{{sentence.sentiment}}</span>
                  {% else %}
                  <span><p id="sentiment_update{{sentence.id}}">Analyzing..</p></span>
                  {% endif %}
                </h3>
                
                

              </div>
            </div>
          </div>       
          {% endfor %}
          {% endif %}
          
        </div>

        

      </div>

      <div class="container formbar">
        
        <div class="alert alert-success" role="alert" id="alertbox">
          <p id="alert_message"></p>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar" id="progressbar" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        
        <form action="{% url 'core:Dashboard'%}?category={{category_selected}}" method="POST" autocomplete="off">
          <div class="row"> 

            <div class="input-group input-group-lg mb-3 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
              {% csrf_token %}
              {{form}}
            </div>
            
            <input id="category_selected" name="category_selected" type="text" value="{{category_selected}}" hidden>
            <div class="input-group input-group-lg mb-3 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
              <input type="submit" class="btn btn-primary" value="Submit">
            </div>

          </div>          
        </form>
      </div>
    </div>
    <script type="text/javascript">


      const sen_taskid = "{{sen_taskid}}"
      console.log(sen_taskid)
      if (sen_taskid != 0){
                //connect to socket
                const socket_url = `ws://${window.location.host}`+ "/ws/progress/" + sen_taskid
                const socket = new WebSocket(socket_url);
                socket.onmessage = function (e){
                  const socketdata = JSON.parse(event.data);
                  if(socketdata.percentage_complete){
                    if(socketdata.percentage_complete.status === 'sentiment_updated'){
                      const percentage = socketdata.percentage_complete.taskid.percentage
                      console.log(percentage)
                      //const alert_message = document.getElementById("alert_message")
                      const progressbar = document.getElementById("progressbar")
                      progressbar.style = `width: ${percentage}%`

                      if(percentage === '100'){
                        const selected_category = socketdata.percentage_complete.taskid.selected_category
                        if(selected_category === null){
                          alert("something went wrong try again ...")
                        }
                        const redirect_url = "{% url 'core:Dashboard' %}?category="+ selected_category
                        window.location.href = redirect_url
                      }

                      
                    }
                  } 
                  }
                }
      

      async function fetchDownloadAPI(taskid) {
        try {
          fetch("{% url 'core:file_download' taskid='PLACEHOLDER' %}".replace('PLACEHOLDER', taskid), {
            method: 'GET',
            credentials: 'same-origin',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{csrf_token}}',
            },
            responseType: 'blob',
  
          }).then(response => {return response.blob();}).then(blobData => {
            console.log(blobData) 
            const blob = new Blob([blobData], { type: 'application/octet-stream' });
            const url = window.URL.createObjectURL(new Blob([blob]));
  
            const alertbox = document.getElementById("alertbox")
            const a = document.createElement('a');
            a.href = url
            a.download = `${taskid}.xlsx` 
            a.click()
            })
        } catch (error) {
            console.log(error);
        }
    }


      function download() {
        let category = "{{category_selected}}"
        fetch(" {% url 'core:download' %}", {
          method: 'POST',
          credentials: 'same-origin',
          headers:{
              'Accept': 'application/json',
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRFToken': '{{csrf_token}}',
      },
          body: JSON.stringify({'category':category})
      })
      .then(response => {
              return response.json() 
      })
      .then(data => {
        const taskid = String(data['taskid'])

        //connect to socket
        const socket_url = `ws://${window.location.host}`+ "/ws/progress/" + taskid
        const socket = new WebSocket(socket_url);
        socket.onmessage = function (e){
          const socketdata = JSON.parse(event.data);
          if(socketdata.percentage_complete){
            const alertbox = document.getElementById("alertbox")
            alertbox.hidden = false
            const progressbar = document.getElementById("progressbar")
            progressbar.style = `width: ${socketdata.percentage_complete.status}%`
            if(socketdata.percentage_complete.status === 'END'){
              fetchDownloadAPI(taskid)
              alertbox.hidden = true
            }     
          }
        }
        //socket.addEventListener('message', (event) => {})
        //const socketdata = JSON.parse(event.percentage_complete);         
        //socket.close()

        

        })
        

      }



    </script>

{% endblock %}